<div class="container">
  <div class="row">
    <h4 class="m-4"><span style="background-color:#dddddd">管理者ログイン</span></h4>
     <div class="col-md-12">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
       <div class="row mb-3">
        <%= f.label :email, "メールアドレス", class: "col-md-2 offset-md-1" %>
        <%= f.email_field :email, autocomplete: "email", class: "col-md-5" %>
       </div>

       <div class="row mb-3">
        <%= f.label :password, "パスワード", class: "col-md-2 offset-md-1" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "col-md-5" %>
       </div>

       <div class="mt-5">
        <%= f.submit "ログイン", class: "btn btn-outline-primary" %>
       </div>
      <% end %>
    </div>
  </div>
</div>

