<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <img src="assets/top_cake.jpg", style="width: 100%; height: 600px;">
        <div class="card-img-overlay">
          <h5 class="text-center text-white">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。<br>
          </h5>
        </div>
      </div>

      <div class="col-md-7 mx-auto mt-4 mb-4" style="background-color: #cc9999;">
        <h2 class="text-center text-white">新着商品</h2>
      </div>

      <div class="row">
        <% @items.first(4).each do |item| %>
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(200, 200) %>
          <% end %>
            <%= item.name %><br>
          <% if item.is_ordered == true %>
            ¥ <%= item.price %>
          <% else %>
            <h5>売り切れ</h5>
          <% end %>
        <% end %>
      </div>

      <div class="row mt-2 mb-3">
        <div class="col-md-3 offset-md-9 pr-0">
          <%= link_to "全ての商品を見る>", items_path %>
        </div>
      </div>
    </div>
  </div>
 </div>

