<div class="container">
  <div class="row">
   <h4 class="m-4"><span style="background-color:#dddddd"><%= @customer.full_name %>さんの会員詳細</span></h4>
    <div class="col-md-10">
     <div class="row mb-3">
        <p>
          会員ID　　　　　<%= @customer.id %>
        </p>
      </div>
      <div class="row mb-3">
        <p>
          氏名　　　　　　<%= @customer.full_name %>
        </p>
      </div>
      <div class="row mb-3">
        <p>
          フリガナ　　　　<%= @customer.full_name_kana %>
        </p>
      </div>
      <div class="row mb-3">
        <p>
          郵便番号　　　　<%= @customer.post_code %>
        </p>
      </div>
      <div class="row mb-3">
        <p>
          住所　　　　　　<%= @customer.address %>
        </p>
      </div>
      <div class="row mb-3">
        <p>
          電話番号　　　　<%= @customer.phone_number %>
        </p>
      </div>
      <div class="row mb-3">
        <p>
          メールアドレス　<%= @customer.email%>
        </p>
      </div>
      <div class="row mb-3">
        <p>
          会員ステータス　<% if @customer.is_active == true%>
                            <p class="text-secondary">退会済</p>
                          <% else %>
                            <p class='text-success'>有効</p>
                          <% end %>
        </p>
      </div>

      <div class="actions">

      </div>
    </div>
  </div>
</div>
