<div class="container  m-4 pl-5">
  <h4><span style="background-color:#dddddd">注文履歴詳細</span></h4>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-7">
        <table class="table table-borderless">
          <tr>
            <td class="w-25 font-weight-bold">購入者</td>
            <td><%= @order.name %></td>
          </tr>
          <tr>
            <td class="font-weight-bold">注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td class="font-weight-bold">配送先</td>
            <td><%= @order.address %></td>
          </tr>
          <tr>
            <td class="font-weight-bold">支払方法</td>
            <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
          </tr>
           <tr>
            <td class="font-weight-bold">注文ステータス</td>
            <td>
              <%= form_with  model: @order, url: admin_order_path(@order), local: true, class: "form-row" do |f| %>
              <%= f.select :status, Order.statuses_i18n.invert, {prompt: false}, class:"mr-4" %>
              <%= f.submit '更新', class:"btn btn-sm btn-success" %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
 </div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <table class="table">
        <tr>
          <thead class="table-secondary">
             <tr>
               <th>商品名</th>
               <th>単価(税込)</th>
               <th>数量</th>
               <th>小計</th>
               <th>制作ステータス</th>
               <th colspan="5"></th>
             </tr>
           </thead>
           <tbody>
             <% @order.order_items.each do |order_item| %>
              <tr>
                 <td><%= order_item.item.name %></td>
                 <td><%= order_item.item.add_tax_sales_price.to_s(:delimited) %></td>
                 <td><%= order_item.order_quantity%></td>
                 <td>
                   <%= (order_item.item.add_tax_sales_price*order_item.order_quantity).to_s(:delimited) %>
                   <% @total+=order_item.item.add_tax_sales_price*order_item.order_quantity %>
                 </td>
                 <td>
                  <%= form_with  model: order_item, url: admin_order_item_path(order_item.id), local: true, class: "form-row" do |f| %>
                    <%= f.select :crafting_status, OrderItem.crafting_statuses_i18n.invert, {prompt: false}, class: "mr-4" %>
                    <%= f.submit '更新', class:"btn btn-sm btn-success " %>
                  <% end %>
                 </td>
              </tr>
            <% end %>
          </tbody>
      </table>
      </div>
      <div class="col-4">
         <table class="table table-borderless">
            <tr>
              <td class="font-weight-bold">商品合計</td>
              <td><%= @total.to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="font-weight-bold">送料</td>
              <td><%= @order.shipping_cost %></td>
            </tr>
            <tr>
              <td class="font-weight-bold">請求金額合計</td>
              <td class="font-weight-bold"><%= (@total+@order.shipping_cost).to_s(:delimited) %></td>
            </tr>
        </table>
      </div>
    </div>
 </div>



