
    <div class="col-md-8 offset-md-1">
          <div class="text-success">
          <%= flash[:notice] %>
          </div>
      <p><i class="fas fa-truck"></i><h2 class="mt-3">配送先登録・一覧</h2></p>
      <div class="address-form-group">
        <%= form_with model: @address do |f| %>
          <p>郵便番号(ハイフンなし)</p><%= f.text_field :post_code %>
	        <p>住所</p><%= f.text_field :shipping_address %>
	        <p>宛名</p><%= f.text_field :name %>

          <%= f.submit '新規登録',class:"btn btn-success" %>
        <% end %>
      </div>
      
      <table class="table">
        <thead align="center">
          <tr class="table-warning">
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
          <th colspan="4"></th>
          </tr>
      <% @addresses.each do |address| %>
        　<tr>
      　   <td> <%= address.post_code %></td>
          <td><%= address.shipping_address %></td>
          <td><%= address.name %></td>
          <td><%= link_to "編集する", edit_address_path(address),class: "btn btn-sm btn-success" %></td>
          <td><%= link_to "削除する", address_path(address), method: :delete,class: "btn btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
      <% end %>
          </tr>
        </tbody>
      </table>
    </div>