    <h3>新規会員登録</h3>

    <%= form_with model: @customer, url: customer_registration_path do |f| %>

      <div class="field-group">
        名前
        <%= f.label :last_name, "(姓)" %>
        <%= f.text_field :last_name %>
        <%= f.label :first_name, "(名)" %>
        <%= f.text_field :first_name %>
      </div>

      <div class="form-group">
        フリガナ
        <%= f.label :last_name_kana, "(セイ)" %>
        <%= f.text_field :last_name_kana %>
        <%= f.label :first_name_kana, "(メイ)" %>
        <%= f.text_field :first_name_kana %>
      </div>

      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.text_field :email %>
      </div>

      <div class="form-group">
        <%= f.label :post_code, "郵便番号" %>
        <%= f.text_field :post_code %>
      </div>

      <div class="form-group">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address %>
      </div>

      <div class="form-group">
        <%= f.label :phone_number, "電話番号" %>
        <%= f.text_field :phone_number %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div>
        <%= f.submit "新規登録" %>
      </div>
    <% end %>

    <div>
    <h3>既に登録済みの方</h3>
    <p>こちらからログインしてください。</p>


