 <div class="col-md-8 offset-md-1">
     <h2><strong><i class="far fa-edit"></i>注文履歴一覧</strong></h2>
 </div>

 <div class="row">
  <div class="col-5 ml-5 mb-4">
    <table class='table table-bordered'>
      <thead align="center">
      <tr class="table-danger">
        <tr>
          <th> 注文日 </th>
          <th> 配送先 </th>
          <th> 注文商品 </th>
          <th> 支払金額 </th>
          <th> ステータス </th>
          <th> 注文詳細 </th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= "〒" + order.post_code %><br>
                <%= order.address %>
                <%= order.name %>
            </td>
            <td>
              <% order.order_items.each do |order_item| %>
              <%= order_item.item.name %>
              <% end %>
            </td>
            <td>
              <%= (order.total_payment).to_s(:delimited) %>円
            </td>
            <td><%= order.status_i18n %></td>
            <td><%= link_to '表示する', order_path(order), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center  mt-5 ">
        <p><%= paginate @orders %></p>
      </div>
    </div>
    </div>
    </div>