<div class='container'>
 <div class=“row”>
   <div class='mx-auto col-lg-13'>
    <h2 class="mt-4"><strong><i class="far fa-edit"></i>注文情報入力</strong></h2><br>
    
    <%= form_with model: @order, url: confirm_path, method: :get do |f| %>
     <h4 class="my-3 ml-3"><strong>支払方法</strong></h4>
     <div class="col-5 ml-2">
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
       <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>

       <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
       <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
     </div>

     <h4 class="my-3 ml-3"><strong>お届け先</strong></h4>
     <div class="col-5 ml-2 mt-2">
      <%= f.radio_button :select_address, "own_address" ,checked: true %>
      <%= f.label :select_address, "自身の住所" %><br>
      <span class="ml-5"><%= @customer.post_code %></span><br>
      <span class="ml-5"><%= @customer.address %></span><br>
      <span class="ml-5"><%= @customer.full_name %></span><br>
     </div>

     <div class="col-6 ml-2 mt-2">
      <%= f.radio_button :select_address, "registered_address" %>
      <%= f.label :select_address, "登録済み住所" %><br>
      <span class="ml-5"><%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %></span>
     </div>
     <div class="col-5 ml-2 mt-2">
      <%= f.radio_button :select_address, "new_delivery_address" %>
      <%= f.label :select_address, "新しいお届け先" %><br>
     </div>
     
     <div class="row">
　    <div class="col-5 ml-5 mb-4">
       <%= f.label :postcode, "郵便番号（ハイフンなし）" %>
       </div>
      <div class="col">
       <%= f.text_field :post_code %>
      </div>
     </div>
     
     <div class="row">
　    <div class="col-5 ml-4 mb-3">
　     <%= f.label :shipping_address, "住所" %>
　    </div>
　    <div class="col">
　      <%= f.text_field :shipping_address %>
　    </div>
　   </div>
　   
　   <div class="row">
　    <div class="col-5 ml-4 mb-3">
　      <%= f.label :name, "宛名" %>
　    </div>
　     <div class="col">
　      <%= f.text_field :name %>
　     </div>
　   </div>
 
    <div class="mb-3"><%= f.submit '確認画面へ進む',class:"btn btn-danger" %>
    </div>

   <% end %>
   </div>
　</div>
</div>
