<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mt-4 mb-4">
        <i class="far fa-edit"></i>
        注文履歴詳細
      </h2>
    </div>
    <div class="col-md-8">
      <h5 class="my-2">
        <strong>注文情報</strong>
      </h5>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="table-warning">注文日</th>
              <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <th class="table-warning">配送先</th>
              <td>
                <%= "〒" + @order.post_code %> <br>
                <%= @order.address %> <br>
                <%= @order.name %>
              </td>
            </tr>
            <tr>
              <th class="table-warning">支払方法</th>
              <td><%= @order.payment_method_i18n %></td>
            </tr>
            <tr>
              <th class="table-warning">ステータス</th>
              <td><%= @order.status_i18n %></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-md-4">
      <h5 class="my-2">
        <strong>請求情報</strong>
      </h5>
      <table class="table table-bordered">
        <tr>
          <th class="table-warning">商品合計</th>
          <td><%= @total_money.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="table-warning">配送料</th>
          <td><%= @order.shipping_cost.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="table-warning">ご請求額</th>
          <td><%= @order.total_payment.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
      <div class="col-8">
       <table class="table table-bordered">
        <thead align="center">
          <tr class="table-secondary">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
          <th colspan="4"></th>
          </tr>
      <% @order_items.each do |order_detail| %>
        　<tr>
      　   <td> <%= order_detail.item.name %></td>
          <td><%= (order_detail.with_tax_price).floor.to_s(:delimited) %></td>
          <td><%= order_detail.order_quantity %></td>
          <td><%= (order_detail.subtotal).to_s(:delimited) %></td>
      <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


