  <h3>ログイン</h3>
  <h4>会員の方はこちらからログイン</h4>

    <%= form_with model: @customer, url: customer_session_path do |f| %>
      <div>
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div>
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
      <h3>登録がお済みではない方</h3>
      <p>
        <%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行ってください。
      </p>
