<%#= render 'sidebar', genres: @genres %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mt-4 mb-4">
        <i class="fas fa-birthday-cake"></i>
        商品一覧(全<%= @total_items.count %>件)
      </h2>
      <% @items.each do |item| %>
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(150, 150) %>
        <% end %>
          <%= item.name %>
        <% if item.is_ordered == true %>
          <p>¥ <%= item.add_tax_sales_price %></p>
        <% else %>
          <h4>売り切れ</h4>
        <% end %>
      <% end %>
    </div>
  </div>
</div>