<%#= render 'sidebar', genres: @genres %>
<div class="container">
  <div class="row">
    <h3>商品一覧</h3><h5>(全<%= @items.count %>件)</h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-3 ">
        <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image(250,250)%>
        <% end %><br>
        <%= item.name %><br>
        <%= item.price %>
      </div>
    <% end %>
  </div>
</div>