<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <% if admin_signed_in? %>
      <%= link_to "NaganoCAKE", admin_top_path %>
      <% else %>
      <%= link_to "NaganoCAKE", root_path %>
      <% end %>
    </nav>
    <nav>
      <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>

          <!--カスタマーがログインしている時 -->
          <li class="header-name">
            ようこそ、<%= current_customer.full_name %>さん！
          </li>
          <li class="nav-item">
            <%= link_to "マイページ", show_path(current_customer) %>
          </li class="nav-item">
          <li>
            <%= link_to "商品一覧", items_path %>
          </li>
          <li>
            <%= link_to cart_items_path do %>
            カート(<%= current_customer.cart_items.count %>個)
            <% end %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </li>

        <% elsif admin_signed_in? %>

          <!-- 管理者がログインしている時 -->
          <li>
            <%= link_to "商品一覧", admin_products_path %>
          </li>
          <li>
            <%= link_to "会員一覧", admin_customers_path %>
          </li>
          <li>
            <%= link_to "注文履歴一覧", admin_orders_path %>
          </li>
          <li>
            <%= link_to "ジャンル一覧", admin_genres_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>

        <% else %>

          <!-- ログインしていない時 -->
          <li>
            <%= link_to "About", about_path %>
          </li>
          <li>
            <%= link_to "商品一覧", items_path %>
          </li>
          <li>
            <%= link_to "新規登録", new_customer_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_customer_session_path %>
          </li>

        <% end %>
      </ul>
    </nav>
</header>