<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #800000;">
    <% if admin_signed_in? %>
      <%= link_to image_tag("nagano_cake.jpg"), admin_orders_path %>
    <% else %>
      <%= link_to image_tag("nagano_cake.jpg"), root_path %>
    <% end %>

    <% if customer_signed_in? %>

          <!--カスタマーがログインしている時 -->
      <p class="text-white">
        ようこそ、<%= current_customer.full_name %>さん！
      </p>

      <ul class="navbar-nav ml-auto">
        <li>
          <%= link_to my_page_customers_path, class: "nav-link text-light" do %>
            <i class="fas fa-home"></i>マイページ
          <% end %>
        </li>
        <li>
          <%= link_to items_path, class: "nav-link text-light" do %>
            <i class="fas fa-birthday-cake"></i>商品一覧
          <% end %>
        </li>
        <li>
          <%= link_to cart_items_path, class: "nav-link text-light" do %>
            <i class="fas fa-shopping-cart"></i>カート(<%= current_customer.cart_items.count %>個)
          <% end %>
        </li>
        <li>
          <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-light" do %>
            <i class="fas fa-sign-out-alt"></i>ログアウト
          <% end %>
        </li>
      </ul>

    <% elsif admin_signed_in? %>
      <ul class="navbar-nav ml-auto">
          <!-- 管理者がログインしている時 -->
        <li>
          <%= link_to admin_items_path, class: "nav-link text-light" do %>
            <i class="fas fa-birthday-cake"></i>商品一覧
          <% end %>
        </li>
        <li>
          <%= link_to admin_customers_path, class: "nav-link text-light" do %>
            <i class="fas fa-users"></i>会員一覧
          <% end %>
        </li>
        <li>
          <%= link_to admin_orders_path, class: "nav-link text-light" do %>
            <i class="fas fa-clipboard-list"></i>注文履歴一覧
          <% end %>
        </li>
        <li>
          <%= link_to admin_genres_path, class: "nav-link text-light" do %>
            <i class="fas fa-tags"></i>ジャンル一覧
          <% end %>
        </li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
            <i class="fas fa-sign-out-alt"></i>ログアウト
          <% end %>
        </li>
      </ul>
    <% else %>

          <!-- ログインしていない時 -->
      <ul class="navbar-nav ml-auto">
        <li>
          <%= link_to about_path, class: "nav-link text-light" do %>
            <i class="fas fa-store-alt"></i>About
          <% end %>
        </li>
        <li>
          <%= link_to items_path, class: "nav-link text-light" do %>
            <i class="fas fa-birthday-cake"></i>商品一覧
          <% end %>
        </li>
        <li>
          <%= link_to new_customer_registration_path, class: "nav-link text-light" do %>
            <i class="fas fa-user-plus"></i>新規登録
          <% end %>
        </li>
        <li>
          <%= link_to new_customer_session_path, class: "nav-link text-light" do %>
            <i class="fas fa-user"></i>ログイン
          <% end %>
        </li>
      </ul>
    <% end %>
  </nav>
</header>
